<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web that provide list of cafe and restaurant">
    <meta name="keywords" content="Life of Pie" />
    <meta name="theme-color" content="#E84545" />
    <title>Life of Pie</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <header>
        <!-- Navbar -->
        <app-bar></app-bar>
    </header>

    <!-- Jumbotron -->
    <hero-custom></hero-custom>

    <!-- Content -->
    <main id="content" tabindex="0"></main>

    <!-- footer -->
    <custom-footer></custom-footer>
</body>
</html>